* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../public/images/Gemini_Generated_Image_oztpbloztpbloztp.jfif");
  background-size: cover;        /* Ensures full coverage */
  background-position: center;   /* Centers the image */
  background-repeat: no-repeat;  /* Prevents tiling */
}